---
const { title } = Astro.props;
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{title} | Utopia Studio</title>
</head>
<body class="bg-black text-white font-[Montserrat] relative overflow-x-hidden">
    
    <div class="fixed inset-0 z-0 opacity-20 pointer-events-none bg-grain"></div>
    <div class="fixed top-[-10%] left-[-10%] w-125 h-125 bg-[#0F393D] rounded-full blur-[120px] opacity-30 z-0"></div>
    <div class="fixed bottom-[10%] right-[-5%] w-100 h-100 bg-[#14b8a6] rounded-full blur-[100px] opacity-20 z-0"></div>

    <div class="relative z-50">
        <Navigation />
    </div>

    <div class="relative z-10">
        <slot /> </div>
</body>
</html>